In [1]:
import pandas as pd
import numpy as np

In [2]:
df_org = pd.read_csv('./train.csv')
df_org

,id,신고번호,신고일자,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,신고인부호,...,HS10단위부호,적출국가코드,원산지국가코드,관세율,관세율구분코드,원산지표시유무코드,신고중량(KG),과세가격원화금액,우범여부,핵심적발
0,0,97061800,2020-01-01,30,B,11,21,11,10,ZZR1LT6,...,4408909195,BE,BE,0.0,FEU1,G,108.0,372254.40,0,0
1,1,85945189,2020-01-01,40,B,11,21,11,40,SWF9S4X,...,6907221000,CN,CN,8.0,A,Y,11352.0,375751.20,0,0
2,2,77854751,2020-01-01,20,B,11,21,11,40,X4XT6P8,...,6208221000,CN,CN,5.2,FCN1,B,20.7,5353.02,0,0
3,3,46925060,2020-01-01,40,B,11,21,43,40,K7LCQTZ,...,9403501000,VN,VN,0.0,C,Y,9218.0,1477645.40,0,0
4,4,34131149,2020-01-01,20,B,11,21,11,10,1HMVIVH,...,710807000,VN,VN,27.0,A,B,24000.0,6364800.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37380,37380,78236084,2020-12-31,40,B,11,21,43,40,NZYZ967,...,3926909000,CN,CN,6.5,C,Y,573.0,343.80,1,1
37381,37381,13057608,2020-12-31,20,B,93,31,43,10,RSUWWQ2,...,4016999000,CN,CN,4.8,FCN1,G,1938.0,35077.80,1,1
37382,37382,32316450,2020-12-31,40,B,11,21,11,10,ZOAPZF5,...,8504405090,CN,CN,4.9,CIT,S,50.0,3105.00,0,0
37383,37383,62223974,2020-12-31,20,B,11,21,11,40,09EO87L,...,7204210000,CA,CA,0.0,A,B,20502.0,311630.40,0,0
37384,37384,46196555,2020-12-31,20,B,11,21,11,40,CXWWNWO,...,8479899099,JP,JP,8.0,A,Y,30.0,63.00,0,0

In [3]:
df_org.shape
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37385 entries, 0 to 37384
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         37385 non-null  int64
 1   신고번호       37385 non-null  int64
 2   신고일자       37385 non-null  object
 3   신고세관부호     37385 non-null  int64
 4   수입신고구분코드   37385 non-null  object
 5   수입거래구분코드   37385 non-null  int64
 6   수입종류코드     37385 non-null  int64
 7   징수형태코드     37385 non-null  int64
 8   운송수단유형코드   37385 non-null  int64
 9   신고인부호      37385 non-null  object
 10  수입자        37385 non-null  object
 11  해외거래처부호    33670 non-null  object
 12  특송업체부호     6714 non-null   object
 13  HS10단위부호   37385 non-null  int64
 14  적출국가코드     37385 non-null  object
 15  원산지국가코드    37385 non-null  object
 16  관세율        37385 non-null  float64
 17  관세율구분코드    37385 non-null  object
 18  원산지표시유무코드  37385 non-null  object
 19  신고중량(KG)   37385 non-null  float64
 20  과세가격원화금액   37385 non-null  float64
 21  우범여부       37385 non-null  int64
 22  핵심적발       37385 non-null  int64
dtypes: float64(3), int64(10), object(10)
memory usage: 6.6+ MB

In [4]:
df_report = df_org['신고번호']

del df_org['id']
del df_org['신고번호']
del df_org['신고일자']
del df_org['수입자']
del df_org['신고인부호']
del df_org['해외거래처부호']

In [5]:
# discrete_columns = ['신고세관부호', '수입신고구분코드', '수입거래구분코드', '수입종류코드', '징수형태코드', '운송수단유형코드', '특송업체부호', 'HS10단위부호', '적출국가코드', '원산지국가코드', '관세율구분코드', '원산지표시유무코드']

# for var in discrete_columns:
#     df_org[var] = df_org[var].astype(str)

In [6]:
# right skewed 현상 완화
# numeric_columns = ['신고중량(KG)', '과세가격원화금액', '관세율']

# for var in ['신고중량(KG)', '과세가격원화금액']:
#     df_org[var] = df_org[var].apply(lambda x: np.log1p(x))

In [7]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37385 entries, 0 to 37384
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   신고세관부호     37385 non-null  int64
 1   수입신고구분코드   37385 non-null  object
 2   수입거래구분코드   37385 non-null  int64
 3   수입종류코드     37385 non-null  int64
 4   징수형태코드     37385 non-null  int64
 5   운송수단유형코드   37385 non-null  int64
 6   특송업체부호     6714 non-null   object
 7   HS10단위부호   37385 non-null  int64
 8   적출국가코드     37385 non-null  object
 9   원산지국가코드    37385 non-null  object
 10  관세율        37385 non-null  float64
 11  관세율구분코드    37385 non-null  object
 12  원산지표시유무코드  37385 non-null  object
 13  신고중량(KG)   37385 non-null  float64
 14  과세가격원화금액   37385 non-null  float64
 15  우범여부       37385 non-null  int64
 16  핵심적발       37385 non-null  int64
dtypes: float64(3), int64(8), object(6)
memory usage: 4.8+ MB

In [8]:
df_org.sample(5)

,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,특송업체부호,HS10단위부호,적출국가코드,원산지국가코드,관세율,관세율구분코드,원산지표시유무코드,신고중량(KG),과세가격원화금액,우범여부,핵심적발
35792,20,B,11,21,11,10,NaN,8536490000,CN,CN,8.0,A,Y,37.0,23036.2,0,0
9683,40,B,11,21,11,10,NaN,5603920000,CN,RU,8.0,A,E,2000.0,253000.0,0,0
33563,62,B,11,21,11,10,NaN,9503003700,US,CN,8.0,A,Y,233.0,1840.7,1,2
14101,40,B,94,21,11,40,NaN,6405200000,IN,IN,0.0,FIN1,E,1.0,378.8,1,1
26295,40,B,11,21,11,40,NaN,8541409022,KR,KR,0.0,C,E,57477.0,2189873.7,0,0

In [9]:
df_org['우범여부'].value_counts()

0    29271
1     8114
Name: 우범여부, dtype: int64

In [10]:
df_org['핵심적발'].value_counts()

0    29271
1     7720
2      394
Name: 핵심적발, dtype: int64

In [11]:
df_org

,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,특송업체부호,HS10단위부호,적출국가코드,원산지국가코드,관세율,관세율구분코드,원산지표시유무코드,신고중량(KG),과세가격원화금액,우범여부,핵심적발
0,30,B,11,21,11,10,NaN,4408909195,BE,BE,0.0,FEU1,G,108.0,372254.40,0,0
1,40,B,11,21,11,40,NaN,6907221000,CN,CN,8.0,A,Y,11352.0,375751.20,0,0
2,20,B,11,21,11,40,NaN,6208221000,CN,CN,5.2,FCN1,B,20.7,5353.02,0,0
3,40,B,11,21,43,40,NaN,9403501000,VN,VN,0.0,C,Y,9218.0,1477645.40,0,0
4,20,B,11,21,11,10,NaN,710807000,VN,VN,27.0,A,B,24000.0,6364800.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37380,40,B,11,21,43,40,NaN,3926909000,CN,CN,6.5,C,Y,573.0,343.80,1,1
37381,20,B,93,31,43,10,NaN,4016999000,CN,CN,4.8,FCN1,G,1938.0,35077.80,1,1
37382,40,B,11,21,11,10,NaN,8504405090,CN,CN,4.9,CIT,S,50.0,3105.00,0,0
37383,20,B,11,21,11,40,NaN,7204210000,CA,CA,0.0,A,B,20502.0,311630.40,0,0
37384,20,B,11,21,11,40,NaN,8479899099,JP,JP,8.0,A,Y,30.0,63.00,0,0

In [12]:
df_test = pd.read_csv('./public.csv')

result = pd.DataFrame()
result['신고번호'] = df_test['신고번호']

del df_test['id']
del df_test['신고번호']
del df_test['신고일자']
del df_test['수입자']
del df_test['신고인부호']
del df_test['해외거래처부호']

In [13]:
df_test

,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,특송업체부호,HS10단위부호,적출국가코드,원산지국가코드,관세율,관세율구분코드,원산지표시유무코드,신고중량(KG),과세가격원화금액
0,40,B,11,11,11,40,NaN,7607119000,CN,CN,7.2,FCN1,E,901.2,415092.72
1,20,B,11,21,11,10,NaN,3215909000,HK,CN,0.0,FCN1,E,400.0,30520.00
2,30,B,11,21,14,10,NaN,6505009090,CN,CN,3.2,FCN1,S,339.0,2610.30
3,20,B,11,21,11,40,NaN,6208921000,CN,CN,13.0,A,E,30.0,2478.00
4,16,B,11,21,11,40,NaN,9031809070,US,US,1.3,CIT,B,3.0,86125.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8129,40,B,11,21,11,10,LM3SJ4,4202922000,CN,CN,4.8,FCN1,S,930.0,55335.00
8130,30,B,11,21,11,10,NaN,3825900000,KR,KR,6.5,C,S,5430.0,28236.00
8131,20,B,86,21,11,40,NaN,9018909090,JP,KR,8.0,A,G,93.5,4703.05
8132,40,B,11,21,18,40,MWIDNS,6203429000,MY,MY,0.0,FAS1,E,717.0,197461.80
8133,20,B,11,21,43,40,NaN,2501001020,AU,AU,0.0,FAU1,E,3000000.0,41400000.00

In [14]:
from sklearn.preprocessing import LabelEncoder

df_encode = pd.concat([df_test, df_org.iloc[:,:-2]], axis=0)
df_encode = df_encode.drop(['관세율', '신고중량(KG)', '과세가격원화금액'], axis=1)

df_encode

,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,특송업체부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,원산지표시유무코드
0,40,B,11,11,11,40,NaN,7607119000,CN,CN,FCN1,E
1,20,B,11,21,11,10,NaN,3215909000,HK,CN,FCN1,E
2,30,B,11,21,14,10,NaN,6505009090,CN,CN,FCN1,S
3,20,B,11,21,11,40,NaN,6208921000,CN,CN,A,E
4,16,B,11,21,11,40,NaN,9031809070,US,US,CIT,B
...,...,...,...,...,...,...,...,...,...,...,...,...
37380,40,B,11,21,43,40,NaN,3926909000,CN,CN,C,Y
37381,20,B,93,31,43,10,NaN,4016999000,CN,CN,FCN1,G
37382,40,B,11,21,11,10,NaN,8504405090,CN,CN,CIT,S
37383,20,B,11,21,11,40,NaN,7204210000,CA,CA,A,B
37384,20,B,11,21,11,40,NaN,8479899099,JP,JP,A,Y

In [15]:
encoder = LabelEncoder()
df_encode.loc[:,:] = \
df_encode.loc[:,:].apply(encoder.fit_transform)

df_test_label = df_encode.iloc[:8134, :]
df_test_label = pd.concat([df_test_label, df_test.loc[:,['관세율', '신고중량(KG)', '과세가격원화금액']]], axis=1)
df_label = df_encode.iloc[8134:, :]
df_label = pd.concat([df_label, df_org.loc[:,['관세율', '신고중량(KG)', '과세가격원화금액', '우범여부', '핵심적발']]], axis=1)

In [16]:
for var in ['신고중량(KG)', '과세가격원화금액']:
    df_label[var] = df_label[var].apply(lambda x: np.log1p(x))
    df_test_label[var] = df_test_label[var].apply(lambda x: np.log1p(x))

In [17]:
df_label

,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,특송업체부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,원산지표시유무코드,관세율,신고중량(KG),과세가격원화금액,우범여부,핵심적발
0,9,1,0,6,2,0,80,1191,7,8,26,2,0.0,4.691348,12.827335,0,0
1,13,1,0,6,2,3,80,1864,15,19,0,5,8.0,9.337237,12.836685,0,0
2,6,1,0,6,2,3,80,1683,15,19,18,0,5.2,3.077312,8.585603,0,0
3,13,1,0,6,9,3,80,3311,97,112,1,5,0.0,9.129022,14.205961,0,0
4,6,1,0,6,2,0,80,137,97,112,0,0,27.0,10.085851,15.666294,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37380,13,1,0,6,9,3,80,1050,15,19,1,5,6.5,6.352629,5.842965,1,1
37381,6,1,24,13,9,0,80,1096,15,19,18,2,4.8,7.569928,10.465352,1,1
37382,13,1,0,6,2,0,80,2670,15,19,5,4,4.9,3.931826,8.041091,0,0
37383,6,1,0,6,2,3,80,1974,12,15,0,0,0.0,9.928326,12.649576,0,0
37384,6,1,0,6,2,3,80,2575,46,52,0,5,8.0,3.433987,4.158883,0,0

In [18]:
df_test_label

,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,특송업체부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,원산지표시유무코드,관세율,신고중량(KG),과세가격원화금액
0,13,1,0,0,2,3,80,2127,15,19,18,1,7.2,6.804836,12.936260
1,6,1,0,6,2,0,80,766,36,19,18,1,0.0,5.993961,10.326170
2,9,1,0,6,5,0,80,1799,15,19,18,4,3.2,5.828946,7.867603
3,6,1,0,6,2,3,80,1687,15,19,0,1,13.0,3.433987,7.815611
4,4,1,0,6,2,3,80,3217,94,109,5,0,1.3,1.386294,11.363569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8129,13,1,0,6,2,0,52,1137,15,19,18,4,4.8,6.836259,10.921179
8130,9,1,0,6,2,0,80,925,49,55,1,4,6.5,8.599879,10.248388
8131,6,1,18,6,2,3,80,3145,46,55,0,2,8.0,4.548600,8.456179
8132,13,1,0,6,6,3,59,1636,63,73,10,1,0.0,6.576470,12.193305
8133,6,1,0,6,9,3,80,405,4,5,13,1,0.0,14.914123,17.538791

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
# df_label = pd.get_dummies(df_org)

In [21]:
df_label.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37385 entries, 0 to 37384
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   신고세관부호     37385 non-null  int64
 1   수입신고구분코드   37385 non-null  int64
 2   수입거래구분코드   37385 non-null  int64
 3   수입종류코드     37385 non-null  int64
 4   징수형태코드     37385 non-null  int64
 5   운송수단유형코드   37385 non-null  int64
 6   특송업체부호     37385 non-null  int64
 7   HS10단위부호   37385 non-null  int64
 8   적출국가코드     37385 non-null  int64
 9   원산지국가코드    37385 non-null  int64
 10  관세율구분코드    37385 non-null  int64
 11  원산지표시유무코드  37385 non-null  int64
 12  관세율        37385 non-null  float64
 13  신고중량(KG)   37385 non-null  float64
 14  과세가격원화금액   37385 non-null  float64
 15  우범여부       37385 non-null  int64
 16  핵심적발       37385 non-null  int64
dtypes: float64(3), int64(14)
memory usage: 5.1 MB

In [22]:
df_label.columns

Index(['신고세관부호', '수입신고구분코드', '수입거래구분코드', '수입종류코드', '징수형태코드', '운송수단유형코드',
       '특송업체부호', 'HS10단위부호', '적출국가코드', '원산지국가코드', '관세율구분코드', '원산지표시유무코드',
       '관세율', '신고중량(KG)', '과세가격원화금액', '우범여부', '핵심적발'],
      dtype='object')

In [23]:
x = df_label.loc[:, (df_label.columns != '우범여부') & (df_label.columns != '핵심적발')]
y_c = df_label['우범여부']
x_train, x_test, y_c_train, y_c_test = train_test_split(x, y_c)

In [24]:
print(x_train.shape, x_test.shape, y_c_train.shape, y_c_test.shape)

(28038, 15) (9347, 15) (28038,) (9347,)

In [25]:
y_c_train

12412    0
5952     0
14008    0
6679     0
22857    1
        ..
30558    1
29874    0
35004    1
36508    1
10720    0
Name: 우범여부, Length: 28038, dtype: int64

In [26]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28038 entries, 12412 to 10720
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   신고세관부호     28038 non-null  int64
 1   수입신고구분코드   28038 non-null  int64
 2   수입거래구분코드   28038 non-null  int64
 3   수입종류코드     28038 non-null  int64
 4   징수형태코드     28038 non-null  int64
 5   운송수단유형코드   28038 non-null  int64
 6   특송업체부호     28038 non-null  int64
 7   HS10단위부호   28038 non-null  int64
 8   적출국가코드     28038 non-null  int64
 9   원산지국가코드    28038 non-null  int64
 10  관세율구분코드    28038 non-null  int64
 11  원산지표시유무코드  28038 non-null  int64
 12  관세율        28038 non-null  float64
 13  신고중량(KG)   28038 non-null  float64
 14  과세가격원화금액   28038 non-null  float64
dtypes: float64(3), int64(12)
memory usage: 3.4 MB

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import plot_importance
from xgboost import XGBClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score, confusion_matrix

In [28]:
def metrics(y_test, pred):
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred, average='micro')
    recall = recall_score(y_test, pred, average='micro')
    f1 = f1_score(y_test, pred, average='micro')
#     roc_score = roc_auc_score(y_test, pred)
    print('정확도 : {0:.2f}, 정밀도 : {1:.2f}, 재현율 : {2:.2f}'.format(accuracy, precision, recall))
#     print('f1-score : {0:.2f}, auc : {1:.2f}'.format(f1, roc_score))
    print('f1-score : {0:.2f}'.format(f1))

In [29]:
xgb_c = XGBClassifier(n_estimators=2000, learning_rate=0.1, max_depth=8)
# xgb.fit(x_train, y_c_train, eval_set = [(x_train, y_c_train), (x_test, y_c_test)], eval_metric = 'logloss', verbose = True)
xgb_c.fit(x_train, y_c_train)
xgb_c_pred = xgb_c.predict(x_test)

In [30]:
# df_xgb_u = xgb.fit(x_train, y_train, eval_set = [(x_train, y_train), (x_test, y_test)], verbose = True)

In [31]:
metrics(y_c_test, xgb_c_pred)

정확도 : 0.91, 정밀도 : 0.91, 재현율 : 0.91
f1-score : 0.91

In [32]:
y_c_test.value_counts()

0    7321
1    2026
Name: 우범여부, dtype: int64

In [33]:
import collections

collections.Counter(xgb_c_pred)

Counter({0: 7729, 1: 1618})

In [34]:
xgb_c_pred

array([0, 0, 0, ..., 0, 0, 0])

In [35]:
y_c_test

34748    0
14090    0
670      1
31648    1
12722    1
        ..
19934    0
36543    0
4060     0
34175    0
1904     0
Name: 우범여부, Length: 9347, dtype: int64

In [36]:
x = df_label.loc[:, df_label.columns != '핵심적발']
y_k = df_label['핵심적발']
x_train, x_test, y_k_train, y_k_test = train_test_split(x, y_k)

In [37]:
print(x_train.shape, x_test.shape, y_k_train.shape, y_k_test.shape)

(28038, 16) (9347, 16) (28038,) (9347,)

In [38]:
y_k_train

11391    2
3544     0
3830     1
30090    0
24361    0
        ..
21893    0
29388    1
5248     0
13324    0
7592     0
Name: 핵심적발, Length: 28038, dtype: int64

In [39]:
xgb_k = XGBClassifier(n_estimators=2000, learning_rate=0.1, max_depth=8)
# xgb.fit(x_train, y_c_train, eval_set = [(x_train, y_c_train), (x_test, y_c_test)], eval_metric = 'logloss', verbose = True)
xgb_k.fit(x_train, y_k_train)
xgb_k_pred = xgb_k.predict(x_test)

In [40]:
metrics(y_k_test, xgb_k_pred)

정확도 : 1.00, 정밀도 : 1.00, 재현율 : 1.00
f1-score : 1.00

In [41]:
y_k_test.value_counts()

0    7334
1    1912
2     101
Name: 핵심적발, dtype: int64

In [42]:
collections.Counter(xgb_k_pred)

Counter({0: 7334, 1: 1934, 2: 79})

In [43]:
xgb_k_pred

array([0, 0, 0, ..., 0, 0, 1])

In [44]:
y_k_test

17797    0
9685     0
22370    0
35769    0
10764    0
        ..
16095    0
23140    0
32727    0
3718     0
34132    1
Name: 핵심적발, Length: 9347, dtype: int64

In [45]:
# for var in ['신고중량(KG)', '과세가격원화금액']:
#     df_test[var] = df_test[var].apply(lambda x: np.log1p(x))
    
# df_test_encode = df_test.drop(['관세율', '신고중량(KG)', '과세가격원화금액'], axis=1)

# # encoder = LabelEncoder()

# # df_test_encode.loc[:,:].apply(encoder.fit_transform)
# df_test_encode.loc[:,:] = \
# df_test_encode.loc[:,:].apply(encoder.fit_transform)

# df_test_label = pd.concat([df_test_encode, df_test.loc[:,['관세율', '신고중량(KG)', '과세가격원화금액']]], axis=1)

In [46]:
# df_test_label

In [47]:
# df_test_label.info()

In [48]:
xgb_test_c_pred = xgb_c.predict(df_test_label)
collections.Counter(xgb_test_c_pred)

Counter({0: 6826, 1: 1308})

In [49]:
df_test_label['우범여부'] = xgb_test_c_pred

In [50]:
df_test_label

,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,특송업체부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,원산지표시유무코드,관세율,신고중량(KG),과세가격원화금액,우범여부
0,13,1,0,0,2,3,80,2127,15,19,18,1,7.2,6.804836,12.936260,0
1,6,1,0,6,2,0,80,766,36,19,18,1,0.0,5.993961,10.326170,0
2,9,1,0,6,5,0,80,1799,15,19,18,4,3.2,5.828946,7.867603,0
3,6,1,0,6,2,3,80,1687,15,19,0,1,13.0,3.433987,7.815611,0
4,4,1,0,6,2,3,80,3217,94,109,5,0,1.3,1.386294,11.363569,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8129,13,1,0,6,2,0,52,1137,15,19,18,4,4.8,6.836259,10.921179,0
8130,9,1,0,6,2,0,80,925,49,55,1,4,6.5,8.599879,10.248388,0
8131,6,1,18,6,2,3,80,3145,46,55,0,2,8.0,4.548600,8.456179,0
8132,13,1,0,6,6,3,59,1636,63,73,10,1,0.0,6.576470,12.193305,0
8133,6,1,0,6,9,3,80,405,4,5,13,1,0.0,14.914123,17.538791,0

In [51]:
xgb_test_k_pred = xgb_k.predict(df_test_label)
collections.Counter(xgb_test_k_pred)

Counter({0: 6826, 1: 1267, 2: 41})

In [52]:
df_test_label['핵심적발'] = xgb_test_k_pred

In [53]:
df_test_label

,신고세관부호,수입신고구분코드,수입거래구분코드,수입종류코드,징수형태코드,운송수단유형코드,특송업체부호,HS10단위부호,적출국가코드,원산지국가코드,관세율구분코드,원산지표시유무코드,관세율,신고중량(KG),과세가격원화금액,우범여부,핵심적발
0,13,1,0,0,2,3,80,2127,15,19,18,1,7.2,6.804836,12.936260,0,0
1,6,1,0,6,2,0,80,766,36,19,18,1,0.0,5.993961,10.326170,0,0
2,9,1,0,6,5,0,80,1799,15,19,18,4,3.2,5.828946,7.867603,0,0
3,6,1,0,6,2,3,80,1687,15,19,0,1,13.0,3.433987,7.815611,0,0
4,4,1,0,6,2,3,80,3217,94,109,5,0,1.3,1.386294,11.363569,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8129,13,1,0,6,2,0,52,1137,15,19,18,4,4.8,6.836259,10.921179,0,0
8130,9,1,0,6,2,0,80,925,49,55,1,4,6.5,8.599879,10.248388,0,0
8131,6,1,18,6,2,3,80,3145,46,55,0,2,8.0,4.548600,8.456179,0,0
8132,13,1,0,6,6,3,59,1636,63,73,10,1,0.0,6.576470,12.193305,0,0
8133,6,1,0,6,9,3,80,405,4,5,13,1,0.0,14.914123,17.538791,0,0

In [54]:
result['우범여부'] = xgb_test_c_pred
result['핵심적발'] = xgb_test_k_pred
result

          신고번호  우범여부  핵심적발
0     56839011     0     0
1     64859691     0     0
2     99950077     0     0
3     22601387     0     0
4     33240058     0     0
...        ...   ...   ...
8129  95650431     0     0
8130  48093440     0     0
8131  12889495     0     0
8132  39908806     0     0
8133  82234198     0     0

[8134 rows x 3 columns]

In [57]:
result.to_csv('비둘기.csv')